
  <%= form_for(@question, namespace: "multiq") do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="large-12 columns">
      <fieldset>
        <legend>Multichoice-Q creator</legend>
        <%= link_to "New Q", new_question_path, class: "button", remote: true  %>

      </fieldset>
    </div>
  <% end %>

  <div id="new-multiq-modal" class="reveal-modal" data-reveal></div>