$("#new-multiq-modal").
  html("").
  foundation("reveal", "close");

$("#quickq_question_content").val("")
$('#qcreator').hide(500)

$('#created-quest').
  prepend('\
    <tr id = question_<%= @question.id %> >\
       <td>\
            <%= @question.content %>\
       </td>\
       \
       <td>\
            <%= @question.results.count %>\
       </td>\
       \
       <td>\
            <%= link_to @question,
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete this question and its answers?" },
                  remote:true do %>\
                       <i class="fa fa-times-circle"></i>\
                  <% end %>\
       </td>\
    </tr>\
  ');

$('#created-quest tr:first').css({'background-color':'orange'}).animate({'background-color':'white'}, 2500);
