$("#new-multiq-modal").
  html('<%= j render "form2" %>').
  append('<a class=\"close-reveal-modal\">&#215;</a>').
  foundation("reveal", "open");

$("#form2_new_question").attr("data-remote","true");
