/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require pikaday
 *= require font-awesome
 *= require iCheck/skins/line/line
 */



.card {
  text-align: center;
}

.fancy {
  font-family: 'Courgette', cursive;
}

h1.fancy {
  font-size: 72px;
}

h2.fancy {
  font-size: 60px;
}

.special {
  font-family: 'Lato', sans-serif;
}

.top-bar-section ul li > a {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

li.active.fancy a {
  font-family: 'Courgette', cursive;
  font-size: 24px;
}

.hidden {
  display:none;
}

/*
.wall {
  background: url("white_wall_hash.png") repeat;
  height: 1100px;
 }*/

.button a {
  color: white;
}

i {
  font-size: 20px;
  color: red;
}
